body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  .team-member {
    width: 300px;
    display: inline-block;
    margin: 50px;
    text-align: center;
  }
  
  .team-member img {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .team-member h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .team-member p {
    font-size: 16px;
  }